@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,700;1,700&display=swap");
.html {
	margin: 0;
	padding: 0;
}
nav.navigation {
	display: inline-block;
}
.Upper-blue-square {
	background-color: #3a51e8;
	text-align: left;
	float: ;
	color: white;
	font-size: 30px;
	font-family: "Archivo";
}
.body {
	background-color: #141414;
	color: white;
}

div.menu-toggle {
	background-color: #3a51e8;
}

.footer-color {
	background-color: #3a51e8;
}

.paragraphs {
}
