.html {
	margin: 0;
}

.Upper-blue-square {
	background-color: #3a51e8;
}
.body {
	background-color: #141414;
	color: white;
}

div.menu-toggle {
	background-color: #3a51e8;
}

.footer-color {
	background-color: #3a51e8;
}
